<!-- TOC -->
<h2>Basics</h2>
<ul>
	<li><a href="#h_1_1">What is BookmarkQ?</h3></a></li>
	<li><a href="#h_1_2">How this differs from other URL shortener services?</h3></a></li>
</ul>
<h2>Use Cases</h2>
<ul>
	<li><a href="#h_2_1">Focusing on important part</h3></a></li>
	<li><a href="#h_2_2">Citing other article</h3></a></li>
	<li><a href="#h_2_3">Preserving original source when sharing</h3></a></li>
	<li><a href="#h_2_4">Code review</h3></a></li>
</ul>
<h2>Advanced Topics</h2>
<ul>
	<li><a href="#h_3_1">How does BookmarQ work?</h3></a></li>
	<li><a href="#h_3_2">What if I have exactly the same text twice on a page?</h3></a></li>
</ul>

<!-- Content -->
<br/><br/><br/>
<h2>Basics</h2>
<a name="h_1_1"><h3>What is BookmarkQ?</h3></a>
<p>
	BookmarkQ is a utility that allows users to create a short URL to a selected text on a Web page. 
	This is helpful, when you wish people that you share a URL with would focus on a specific Web page area  
	(see <a href="#useCases">Use Cases</a>
	for more information).
</p>
<a name="h_1_2"><h3>How this differs from other URL shortener services?</h3></a>
<p>
	The concept is very similar to other URL shortener services, with the exception that BookmarkQ 
	not only restores the location of the original page, but also reveals and highlights the originally 
	selected text.
</p>

<br/>
<a name="useCases"><h2>Use Cases</h2></a>
<a name="h_2_1"><h3>Focusing on important part</h3></a>
<p>
	The original Web page contains a lot of information, and people get lost when trying to
	find the relevant part (citation, for example). BookmarkQ helps you focus by scrolling
	and selecting the needed information.
</p>
<a name="h_2_2"><h3>Citing other article</h3></a>
<p>
	You write a blog (Web page, e-mail, tweet, etc.), and you wish to cite other article.
</p>
<a name="h_2_3"><h3>Preserving original source when sharing</h3></a>
<p>
	You want to share specific information from a Website, and you wish people look at the original page, 
	rather than sending them a copy. 
</p>
<a name="h_2_4"><h3>Code review</h3></a>
<p>
	You want to point other developer to a piece of source code available publicly (see <a href="http://bquot.com/y0">example</a>).
</p>

<br/>
<h2>Advanced Topics</h2>
<a name="h_3_1"><h3>How does BookmarQ work?</h3></a>
<p>
	BookmarkQ "remembers" the location of the selected text along with the original Web site URL. 
	When URL created with BookmarkQ is opened in Web browser, the original site is presented through <a href="http://bquot.com">bquot.com</a> proxy.
	Originally selected text is then found on the page and revealed.
</p>
<a name="h_3_2"><h3>What if I have exactly the same text twice on a page?</h3></a>
<p>
	The BookmarkQ will not be confused by this fact. The tool not only remembers the text itself, but also the position.
	This is handy when you select data that appears more than once on page (see <a href="http://bquot.com/y1">example</a>).
</p>
<br/>
<br/>
